@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.btn-color{
  background-color: #EEC383!important;
}

.btn-color:hover{
  background-color: #d6af75
}

body{
    background-color: #FFFFEA!important;
    font-family: 'Raleway', sans-serif !important;
}

.h-full {
    height: 100vh;
}

#title h1 {
    font-size: 8vw;
}

#landing_page a, p {
    font-size: 1.5vw !important;
}

#teacher h2, #school h2 {
    font-size: 5vw;
}

#title {

    background-image: url(/static/images/pexels-ann-h-1762851.jpg );
    background-position: center;
    background-size: cover;
    background-color: rgba(42, 34, 34, 0.589);
    background-blend-mode: multiply;
}

.title {
    color: #FF4A47;
}

.pfp-select {
    width: 150px;
    height: 150px;
}

.pfp-select-label:hover {
    filter: sepia(50)
}

.pfp-select i {
    font-size: 300%;
}

.pfp-bg-img {
    background-size: cover;
}

/* copied from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/* end of copied code */


