{% extends 'base.html' %}
{% block content %}


<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">School Listing</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form onsubmit="return send_register()" class="p-3 mb-5 bg-body rounded container">
                <div class="mb-3">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Subject
                    </button>
                    <ul class="dropdown-menu">
                      {% for row in subjects %}
                        <li><a class="dropdown-item">{{row['subject_name']}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="keyStage" class="form-label">Key Stage:</label>
                  <input type="text" class="form-control" id="keyStage">
                  
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <input type="Date" class="form-control" id="date" min="{{today}}">
                  </div>
                <div class="mb-3">
                  <label for="startTime" class="form-label">Start Time:</label>
                  <input type="time" class="form-control" id="startTime">
                </div>
                <div class="mb-3">
                  <label for="endTime" class="form-label">End Time:</label>
                  <input type="time" class="form-control" id="endTime">
                </div>
              </form>          
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Create listing</button>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Create a school listing</a>

{% endblock %}