{% extends 'base.html' %}
{% block content %}
  <div class="container center md-5 p-5">
    <form onsubmit="return send_register()" class="shadow p-3 mb-5 bg-body rounded container">
      <div class="mb-3">
        <label for="name" class="form-label">First Name:</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name:</label>
        <input type="text" class="form-control" id="lastName">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-color">Submit</button>
    </form>

  </div>

{% endblock %}
