{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="mt-5 p-4">
<h1 align=center> <u> Teacher Profile Page <i class="bi bi-person"> </i> </u> </h1>



    {% for row in user_info %}
      <h2 align=center> Welcome, {{row['first_name']}} {{row['last_name']}}</h2>
      <h3> Your Details: </h3>
      <div class="col bg-white">
        <div class="border border-dark">
          <p><b>First Name: </b>{{row['first_name']}}</p>
          <p> <b>Last Name: </b>{{row['last_name']}}</p>
          <p> <b>Registered Email: </b>{{row['email']}}</p>
        </div>
      <div>
     {% endfor %}
</div>

<h1>--------------------------------------------------------------------</h1>
<br>

<form onsubmit="return update_profile()">
  <!-- Adapted from https://getbootstrap.com/docs/5.2/forms/overview/-->
  {% for row in user_info %}
  <div class="mb-3">
    <label for="inputFName" class="form-label">First Name</label>
    <input value= "{{row['first_name']}}" type="text" class="form-control" id="inputFName" name="inputFName">
  </div>
  <div class="mb-3">
    <label for="inputLName" class="form-label">Last Name</label>
    <input value="{{row['last_name']}}" type="text" class="form-control" id="inputFname" name="inputFName">
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input value="{{row['email']}}" type="email" class="form-control" id="inputEmail" name="inputEmail">
  </div>
  <div class="col text-center">
    <button  type="submit" class="btn btn-warning" name="button">Update Deatils</button>
  </div>
  {% endfor %}

<!-- end of adapted code -->

</form>


{% endblock %}
