{% extends 'base.html' %}
{% block content %}

    <div class="container h-full d-flex flex-column justify-content-center">

        <div class=".container-fluid d-flex flex-column algin-items-center">
            <div class="col d-flex justify-content-center">
                <h1 class="title" >Welcome, {{name}}</h1>
            </div>
            <div class="col d-flex justify-content-center">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, itaque.</p>
            </div>
        </div>
        

        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="{{url_for('create_school')}}" class="btn btn-color">
                    Register school <i class="bi bi-arrow-right ps-1"></i>
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="" class="btn btn-color">
                    I'm a supply teacher <i class="bi bi-arrow-right ps-1"></i>
                </a>        
            </div>
            <div class="col d-flex justify-content-center">
                <!-- adapted from https://getbootstrap.com/docs/5.2/components/modal/#examples -->
                <button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#enter_code_modal">
                    Enter school code <i class="bi bi-arrow-right ps-1"></i>
                </button>
                
                <div class="modal fade" id="enter_code_modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="enter_code_modalLabel">Enter code</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form>
                                <div class="modal-body">
                                    <input class="w-100" type="text" placeholder="1234...">
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                                    <button type="submit" class="btn btn-color">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end of adapted code -->
            </div>
        </div>
        
    </div>

{% endblock %}s