{% extends 'base.html' %}
{% block content %}

    <div class="container h-full">

        <h1 class="title" >Welcome, {{name}}</h1>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="" class="btn btn-color">
                    Register school
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="" class="btn btn-color">
                    I'm a supply teacher
                </a>        
            </div>
            <div class="col d-flex justify-content-center">
                <a href="" class="btn btn-color">
                    Enter school code
                </a>
            </div>
        </div>

        

        
    </div>

{% endblock %}s