{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html ' %}


    <div class="container pt-5 mt-5">

        <h1 class="title">Job listings</h1>
        <p class="mb-3">All available listings you can teach</p>

        

        {% for row in listings %}
        <div class="bg-light rounded mb-3 shadow border p-2">
            <div class="row">
                <div class="col">
                    <p>{{row['school_name']}}</p>
                </div>
                <div class="col">
                    <p>{{row['subject_name']}}, Keystage {{row['listing_keystage']}}</p>
                </div>
                <div class="col">
                    <p>{{row['listing_date']}}, {{row['listing_start_time']}} - {{row['listing_end_time']}}</p>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-color float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        More info
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{row['school_name']}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>LocationL {{row['school_address']}}</p>
                                <p>Subject: {{row['subject_name']}}</p>
                                <p>Keystage: {{row['listing_keystage']}}</p>
                                <br>
                                <p>Phone number: {{row['school_phone_number']}}</p>
                                <p>Email: {{row['school_email']}}</p>
                                <p>Website: {{row['school_website']}}</p>
                                <p>Address: {{row['school_address']}}</p>
                                <br>
                                <p>Date: {{row['listing_date']}}</p>
                                <p>Start time: {{row['listing_start_time']}} - End time: {{row['listing_end_time']}}</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a type="button" class="btn btn-color">Accept job</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        {% endfor %}
    </div>
{% endblock %}