{% extends 'base.html' %}
{% block content %}

<h1 align="center"> Teachers Profile </h1>


    <div class="grid-container">
      <div class="imgContent">
        <img src="images\Logo\png\logo-color.png" alt="">
      </div>
      <div class="textContent">
        <h2>Who we are</h2>
        <p>We are Britain's Number 1 Extreme ironing club. Winning the Great Britains Extreme Ironing Championship (2022) and the Welsh Extreme Ironing Championship (2019-2022) are some of our recent achievements
          What is Extreme Ironing? Extreme Ironing (EI) is an extreme sport in which people take ironing boards to remote locations and iron items of clothing.
          According to the Extreme Ironing Bureau, extreme ironing is "the latest dangerous sport that combines the thrills of extreme outdoor activity with the satisfaction of a well-pressed shirt.</p>
        <a href="https://en.wikipedia.org/wiki/Extreme_ironing" class="button"> Learn More </a>
      </div>
    </div>

    <div class="splitContent bodyFont splitContentBgPurple">
      <div class="textContent">
        <h2>History</h2>
        <p>Cardiff Extreme Ironing is the oldest Extreme Ironing Club in the world.
          Notable members include the King of the United Kingdom,
          Charles III (Charles Philip Arthur George) and the Former Prime
          Minister of the United Kingdom, Boris Jhonson. </p>
        <a href="#" class="button"> Discover more </a>
      </div>
      <div class="imgContent">
        <img src="images\history.jpg" alt="">
      </div>
    </div>




{% endblock %}
