{% extends 'base.html' %}
{% block content %}

<div class="bg-light">
  <h1 align="center"> Supply Teachers Avalible </h1>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col bg-white">
      <div class="textContent">
        <h2>David Cole</h2>
        <h3>Wales, United Kingdom</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
           incididunt utte velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
        <a href="https://en.wikipedia.org/wiki/Extreme_ironing" class="button"> Learn More </a>
      </div>

    </div>
    <div class="col bg-info">
      <div class="textContent">
        <h2>Abir Chaudary</h2>
        <h3>Rome, Italy</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
           incididunt utte velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
        <a href="https://en.wikipedia.org/wiki/Extreme_ironing" class="button"> Learn More </a>
      </div>

    </div>
    <div class="col bg-white">
      <div class="textContent">
        <h2>Oran Kendrew</h2>
        <h3>England, United Kingdom</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
           incididunt utte velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
        <a href="https://en.wikipedia.org/wiki/Extreme_ironing" class="button"> Learn More </a>
      </div>

    </div>
  </div>
</div>






{% endblock %}
